#app {
  font-family: Poppins;
}

h1 {
  font-family: "Bree Serif";
}

.btn {
  border-radius: 30px;
}

.btn-dark {
  background-color: #000;
}

.form-control-lg,
.form-control {
  border-radius: 10px;
}
